.descuento
    .container
        .row
            .col-md-6
                .contenido
                    h3 15% de Descuento
                    p.titulo Viaje a Canadá
                    p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                    p.precio $2,500 USD