footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                include NavLinks
        .col
            p.copyright.text-center.text-md-right 
                | Todos los Derechos Reservados #{currentYear}
