doctype html
html(lang="en")
    head
        include partials/Head
    body(class=styleclass)
        include partials/Header
        block slider
        block content
        include partials/Footer