extends ./MasterLayout

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Torre").img-fluid
            .col-md-7
                h1 #{nombrePagina}
                
                blockquote Nunc pellentesque porta metus, nec pharetra nunc fringilla eget. Integer sem ante, mollis eget sodales a, fermentum ac nisl. Morbi tempus eros ut blandit laoreet. Aenean nec pulvinar sem, at lacinia magna. Quisque tincidunt pharetra nibh, id luctus urna luctus quis. Suspendisse accumsan tincidunt sem, sit amet porttitor ipsum aliquet a. Maecenas luctus mattis vehicula. Vivamus sagittis, neque vitae imperdiet egestas, erat urna porta nisi, at finibus leo augue sed erat.

                p Aenean sollicitudin mollis arcu eget tempor. Aenean facilisis nulla in lectus consequat tristique. Nulla nec arcu diam. Mauris vel lacinia nisi. Nulla sapien risus, faucibus vel blandit eu, sodales eu eros. Vestibulum feugiat eget leo vitae tincidunt. Donec ut nunc eu nunc fringilla efficitur eget a augue. Fusce at nisl rhoncus, dapibus dolor venenatis, fermentum tortor. Donec malesuada sapien quam, vitae varius nisi tincidunt quis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4.iconos
                    img(src="/img/icono_seguridad.svg", alt="Seguridad").img-fluid.mb-4.icono
                    h2.mb-4 Excelente Seguridad
                    p Aenean sollicitudin mollis arcu eget tempor. Aenean facilisis nulla in lectus consequat tristique. Nulla nec arcu diam. Mauris vel lacinia nisi. Nulla sapien risus, faucibus vel blandit eu, sodales eu eros. Vestibulum feugiat eget leo vitae tincidunt.

                .col-md-4.iconos
                    img(src="/img/icono_destinos.svg", alt="Destinos").img-fluid.mb-4.icono
                    h2.mb-4 Múltiples Destinos
                    p Aenean sollicitudin mollis arcu eget tempor. Aenean facilisis nulla in lectus consequat tristique. Nulla nec arcu diam. Mauris vel lacinia nisi. Nulla sapien risus, faucibus vel blandit eu, sodales eu eros. Vestibulum feugiat eget leo vitae tincidunt.
                
                .col-md-4.iconos
                    img(src="/img/icono_precios.svg", alt="Precios").img-fluid.mb-4.icono
                    h2.mb-4 Los Mejores Precios
                    p Aenean sollicitudin mollis arcu eget tempor. Aenean facilisis nulla in lectus consequat tristique. Nulla nec arcu diam. Mauris vel lacinia nisi. Nulla sapien risus, faucibus vel blandit eu, sodales eu eros. Vestibulum feugiat eget leo vitae tincidunt.
    